[submodule "tools/aioli/src"]
	path = tools/aioli/src
	url = https://github.com/biowasm/aioli.git

[submodule "tools/bcftools/src"]
	path = tools/bcftools/src
	url = https://github.com/samtools/bcftools.git

[submodule "tools/bedtools/src"]
	path = tools/bedtools/src
	url = https://github.com/arq5x/bedtools2.git

[submodule "tools/bhtsne/src"]
	path = tools/bhtsne/src
	url = https://github.com/lh3/bhtsne.git

[submodule "tools/bowtie2/src"]
	path = tools/bowtie2/src
	url = https://github.com/BenLangmead/bowtie2

[submodule "tools/coreutils/src"]
	path = tools/coreutils/src
	url = https://github.com/coreutils/coreutils.git

[submodule "tools/fastp/src"]
	path = tools/fastp/src
	url = https://github.com/OpenGene/fastp.git

[submodule "tools/findutils/src"]
	path = tools/findutils/src
	url = git://git.savannah.gnu.org/findutils.git

[submodule "tools/gawk/src"]
	path = tools/gawk/src
	url = git://git.savannah.gnu.org/gawk.git

[submodule "tools/gfatools/src"]
	path = tools/gfatools/src
	url = https://github.com/lh3/gfatools.git

[submodule "tools/gffread/src"]
	path = tools/gffread/src
	url = https://github.com/gpertea/gffread.git

[submodule "tools/grep/src"]
	path = tools/grep/src
	url = git://git.savannah.gnu.org/grep.git

[submodule "tools/htslib/src"]
	path = tools/htslib/src
	url = https://github.com/samtools/htslib.git

[submodule "tools/hyphy/src"]
	path = tools/hyphy/src
	url = https://github.com/veg/hyphy.git

[submodule "tools/ivar/src"]
	path = tools/ivar/src
	url = https://github.com/andersen-lab/ivar.git

[submodule "tools/jq/src"]
	path = tools/jq/src
	url = https://github.com/stedolan/jq.git

[submodule "tools/kalign/src"]
	path = tools/kalign/src
	url = https://github.com/TimoLassmann/kalign.git

[submodule "tools/kentutils/src"]
	path = tools/kentutils/src
	url = https://github.com/ucscGenomeBrowser/kent.git

[submodule "tools/libarchive/src"]
	path = tools/libarchive/src
	url = https://github.com/libarchive/libarchive.git

[submodule "tools/lsd2/src"]
	path = tools/lsd2/src
	url = https://github.com/tothuhien/lsd2.git

[submodule "tools/mafft/src"]
	path = tools/mafft/src
	url = https://gitlab.com/sysimm/mafft.git

[submodule "tools/minimap2/src"]
	path = tools/minimap2/src
	url = https://github.com/lh3/minimap2.git

[submodule "tools/modbam2bed/src"]
	path = tools/modbam2bed/src
	url = https://github.com/epi2me-labs/modbam2bed.git

[submodule "tools/muscle/src"]
	path = tools/muscle/src
	url = https://github.com/rcedgar/muscle.git

[submodule "tools/samtools/src"]
	path = tools/samtools/src
	url = https://github.com/samtools/samtools.git

[submodule "tools/sed/src"]
	path = tools/sed/src
	url = git://git.savannah.gnu.org/sed.git

[submodule "tools/seq-align/src"]
	path = tools/seq-align/src
	url = https://github.com/noporpoise/seq-align.git

[submodule "tools/seqtk/src"]
	path = tools/seqtk/src
	url = https://github.com/lh3/seqtk.git

[submodule "tools/ssw/src"]
	path = tools/ssw/src
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git

[submodule "tools/tn93/src"]
	path = tools/tn93/src
	url = https://github.com/veg/tn93.git

[submodule "tools/tree/src"]
	path = tools/tree/src
	url = https://gitlab.com/OldManProgrammer/unix-tree.git

[submodule "tools/ViralConsensus/src"]
	path = tools/ViralConsensus/src
	url = https://github.com/niemasd/ViralConsensus.git

[submodule "tools/wgsim/src"]
	path = tools/wgsim/src
	url = https://github.com/lh3/wgsim.git
